.git
.gitignore
.docker
.idea
.vscode

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/
*.egg-info/
dist/
build/

.env
.env.*
!.env.example

logs/
*.log
*.logs

uploaded_data/
staticfiles/
media/

node_modules/

Dockerfile*
docker-compose*.yml
docker-compose*.yaml
